Pillow
boto3
botocore
flake8-rst-docstrings
flake8-docstrings
flake8-bugbear
flake8
gitpython
gpt-2-simple
h5py
torch==1.2.0
skorch==0.6.0
joblib
nltk
numpy
pexpect
py-gfm
pyzmq
regex
requests-mock
requests
scikit-learn
scipy
sh
sphinx
sphinx_rtd_theme
tensorflow==2.3.1
textblob
tqdm
websocket-client
websocket-server
pytorch-pretrained-bert
py-rouge
pre-commit
docutils<0.15
tqdm
